*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #db6868;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc{
    padding: 20px;
    background: transparent;
    border-radius: 20px;
    box-shadow: -1px -1px 10px 10px rgba(189,97,97,0.8);
}

#input{
    height: 100px;
}

button{
    border: none;
    margin: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    cursor: pointer;
    background: transparent;
    box-shadow: 6px 6px 10px rgba(190,97,97,1),
    -6px -6px 10px rgba(190,97,97,1);
}

.dgn{
    box-shadow: inset 6px 6px 10px rgba(190,97,97,1),
    inset -6px 10px rgba(190,97,97,1);    
}

#input{
    max-width: 400px;
    text-align: center;
    margin: 10px;
    color: #ffffff;
    font-size: 60px;
    overflow: hidden;
}